window {
    margin: 0px;
    border: 2px solid #a9b665;
    background-color: #1d2021;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: 1px solid #504945;
    color: #d4be98;
    background-color: #282828;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: #1d2021;
}

#text {
    margin: 5px;
    border: none;
    color: #d4be98;
}

#entry:selected {
    background-color: #504945;
}

#text:selected {
    color: #a9b665;
}
